@model ClinicAdmin_web.Models.Medicine

@{
    ViewData["Title"] = "Chi tiết";
}

<h1>Chi tiết</h1>

<div>
    <h4>Thuốc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên thuốc
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrugName)
        </dd>
        <dt class = "col-sm-2">
            Tồn kho
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Storage)
        </dd>
        <dt class = "col-sm-2">
            Giá
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a asp-action="Index">Về danh sách</a>
</div>
