<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Home/Index" class="brand-link">
        <img src="~/public/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Clinic Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/Home/Index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Trang chủ
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Medicine/Index" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-capsules"></i>
                        <p>
                            Quản lý thuốc
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Patient/Index" class="nav-link">
                        <i class="nav-icon fas fa-duotone fa-hospital-user"></i>
                        <p>
                            Quản lý bệnh nhân
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Appointment/Index" class="nav-link">
                        <i class="nav-icon fas fa-duotone fa-calendar-check"></i>
                        <p>
                            Quản lý lịch hẹn
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Invoice/Index" class="nav-link">
                        <i class="nav-icon fas fa-thin fa-file-invoice"></i>
                        <p>
                            Quản lý hóa đơn
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
